# Gradle
.gradle/
build/
out/
classes/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.launch

# VS Code
.settings/
.vscode/
bin/
.classpath
.project
# Mac OS
.DS_Store

# Fabric
run/

# Mod
src/main/resources/bedrockcracker.dll
src/main/resources/libbedrockcracker.dylib
src/main/resources/libbedrockcracker.so

src/main/java/com/github/netherbedrockcracker

dump_includes.txt
